/* Theme: Grey */
:root {
    --main-text-color: #d3d3d3;
    --main-bg-color: #3d3d3d;
    --links-color: #d3d3d3;
}

a:link, a:visited,
a:hover, a:active { text-decoration: underline dotted !important; }
